# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\StardustEmperor\Documents\ULB\Année 2\Q1\Real Time operating System\Projets\rtos_scheduling_project\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
